# === Ignore virtual environment ===
.venv/
venv/

# === Ignore model weights ===


# === Ignore dataset folders ===
images/train/
images/validation/


# === Ignore VSCode settings (if you use VSCode) ===
.vscode/
*.zip
